# Pares

In [1]:
op_vec <- function(v1){
  l <- c()
  for (x in 1:length(v1)){
    if(v1[x] %% 2 == 0){
      l <- c(l,v1[x])
    }
    
  }
  return(l)
}

a <- c(2,5,7,8,4,5,7,9,10)
print(op_vec(a))

[1]  2  8  4 10

# Funciones matematicas

In [2]:
n <- 144^0.5
print(n)
n1 <- abs(-57)
print(n1)
n2 <- round(34.2342342,3)
print(n2)

[1] 12
[1] 57
[1] 34.234

In [5]:
v = c()
for(x in 1:10){
    v <- c(v,x)
}
print(v)
print(sum(v))
print(mean(v))
print(max(v))
print(min(v))

 [1]  1  2  3  4  5  6  7  8  9 10
[1] 55
[1] 5.5
[1] 10
[1] 1

In [7]:
v = sort(v, decreasing = TRUE)
print(v)

 [1] 10  9  8  7  6  5  4  3  2  1

# Caracteres

In [10]:
nombre = 'Luis'
nombre = toupper(nombre)
print(nombre)
print(nchar(nombre))

[1] "LUIS"
[1] 4

# Estructuras

In [15]:
l = matrix(c(1,2,3,4,5,6,7,8,9),nrow = 3)
print(l)
suma = 0
for(x in 1:3){
    suma <- suma + l[2,x]
}
print(suma)

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9
[1] 15

# DataFrame

In [20]:
df <- data.frame(
    Name = c('Luis'),
    Age = c(18),
    Carrier = c('Career')
)
print(df)

  Name Age Carrier
1 Luis  18  Career